<h5 class="ap-selector">Section Selector
  <app-close-btn></app-close-btn>
</h5>

<!--this is the page display the sections of one subject on the left hand side menu(after click the add subject button)-->
<h5>{{subjectId}}</h5>

<!--basic info of one section, item type, day, start time, end time-->
<!--dismiss the section selected.-->
<h5 class="px-3">
  <a href="#" class="badge badge-primary w-100 text-right"
     (click)="dismissSection($event, item)"
     *ngFor="let item of selected">
      <span class="float-left ml-1">
        {{item.type}}
      </span>
    <span class="badge badge-success mr-1">
        {{item.day}}
      </span>
    <span class="badge badge-success mr-1">
        {{item.startTime}} - {{item.endTime}}
      </span>
  </a>
</h5>

<!--filter the sections have been selected,depends on the section type-->
<div class="ap-selector-list btn-group-vertical btn-group-sm w-100 mt-3 px-0"
     role="group" #sectionsContainer>
  <button type="button"
          class="ap-btn btn btn-light btn-block text-right {{item.clash? 'disabled clash': ''}}"
          *ngFor="let item of sections | filter: filter"
          (click)="selectSection(item)"
          [class]="">
    <span class="float-left ml-1 font-weight-bold">
      {{item.type}}
    </span>
    <span class="badge badge-danger mr-1"
          *ngIf="item.clash">
      clash
    </span>
    <span class="badge badge-light mr-1">
      {{item.day}}
    </span>
    <span class="badge badge-light mr-1">
      {{item.startTime}} - {{item.endTime}}
    </span>
  </button>
</div>

<!--add button or update button to keep the choice of the sections to the database-->
<div class="w-100 mt-5">
  <button type="button"
          class="ap-add-btn btn btn-sm btn-primary btn-block"
          *ngIf="sectionsContainer.children.length == 0"
          (click)="updateSections()">
    {{editing ? 'Update Sections' : 'Add Sections'}}
  </button>
  <button type="button"
          class="ap-add-btn btn btn-sm btn-outline-primary btn-block"
          *ngIf="(sectionsContainer.children.length == 0) && editing"
          (click)="deleteSections()">Delete Sections
  </button>
</div>
