<h5 class="ap-timetable">Timetable</h5>
<div class="row mx-0">
  <div class="col-2 px-1">
    <h6 class="text-center border-bottom border-success pb-2">Day</h6>

    <div class="card mb-2">
      <div class="card-body p-1 pb-2">

        <button
          type="button"
          class="btn btn-sm btn-block btn-primary text-right">
          <span class="float-left">Subject Id</span>
          <span class="badge badge-light">Edit</span>
        </button>

        <p class="card-text mt-2">
          <small class="badge badge-pill badge-light mr-1">
            Type
          </small>
          <small class="badge badge-pill badge-light">
            Duration
          </small>
        </p>

      </div>
    </div>
  </div>
</div>
