<!--menu on the lef.   Waring information and subject list-->
<form id="search-bar" class="ap-search">
  <input type="text"
         class="form-control"
         placeholder="Search subject"
         [(ngModel)]="searchText"
         [ngModelOptions]="{standalone: true}" >
</form>

<!--waring information that the selected subject reach the maximum requirement-->
<div class="ap-hint bg-light"
     *ngIf="subjectCount > 3">
  <small>
    <strong>Hint:</strong>
    <mark>The number of subjects you enrolled should be thoughtful.</mark>
  </small>
</div>

<!--the item(subject) in the left menu-->
<div id="subject-list" class="ap-links list-group-flush list-group">
  <a class="list-group-item list-group-item-action flex-column align-items-start"
     [routerLink]="['/description', item.id]"
     *ngFor="let item of subjects | search: searchText">

    <!--basic information of one subject-->
    <div class="row">
      <div class="col">
        <h6 class="mb-1">{{item.id}} {{item.title}}</h6>
        <small class="badge badge-pill badge-info">
          Credit Points: {{item.credit}}
        </small>
      </div>

      <!--add button,which lead to section selection, shows if user login-->
      <button
        type="button"
        class="ap-btn btn btn-light col-2"
        *ngIf="isLoggedIn"
        (click)="enroll($event, item.id)">
        <span class="fa fa-plus"></span>
      </button>
    </div>

  </a>
</div>
