<div class="card mx-auto m-5" style="width: 320px">
  <h5 class="card-header">SIGN IN</h5>
  <div class="card-body">
    <div class="alert alert-warning"
         role="alert"
         *ngIf="message">{{message}}
    </div>
    <form [formGroup]="form">
<!--student ID text filed-->
      <div class="form-group">
        <label for="studentId"
               class="sr-only">Student ID</label>
        <input type="text"
               id="studentId"
               name="studentId"
               placeholder="Student ID"
               class="form-control"
               formControlName="studentId"
               autofocus>
        <small class="form-text text-danger"
               [hidden]="
             !form.hasError('required', ['studentId']) ||
             !(form.get('studentId').dirty && form.get('studentId').touched) &&
             !clicked">
          This field is required.
        </small>
      </div>
      <!--password text filed-->
      <div class="form-group">
        <label for="password"
               class="sr-only">Password</label>
        <input type="password"
               id="password"
               name="password"
               placeholder="Password"
               class="form-control"
               formControlName="password">
        <small class="form-text text-danger"
               [hidden]="
             !form.hasError('required', ['password']) ||
             !(form.get('password').dirty && form.get('password').touched) &&
             !clicked">
          This field is required.
        </small>
      </div>
<!--submit button-->
      <button type="submit"
              class="btn btn-primary btn-block mt-4"
              (click)="login()">Sign In
      </button>
    </form>
  </div>
</div>
