<div class="card mx-auto m-5" style="width: 320px">
  <h5 class="card-header">SIGN IN</h5>
  <div class="card-body">
    <form>

      <div class="form-group">
        <label for="studentId"
               class="sr-only">Student ID</label>
        <input type="text"
               id="studentId"
               name="studentId"
               placeholder="Student ID">
        <small class="form-text text-danger">
          This field is required.
        </small>
      </div>

      <div class="form-group">
        <label for="password"
               class="sr-only">Password</label>
        <input type="password"
               id="password"
               name="password"
               placeholder="Password"
               class="form-control">
        <small class="form-text text-danger"">
          This field is required.
        </small>
      </div>

      <button type="submit"
              class="btn btn-primary btn-block mt-4">Sign In
      </button>
    </form>
  </div>
</div>
