<nav class="navbar navbar-expand navbar-dark flex-column flex-md-row bg-dark ">
<!--logo to main page-->
  <a href="#"
     class="btn btn-sm btn-outline-secondary font-weight-bold px-2"
     [routerLink]="['/']" >PlanB
  </a>
<!--before login, sign up and sign up button-->
  <ul class="navbar-nav flex-row ml-md-auto d-none d-md-flex"
      *ngIf="!isLoggedIn">

    <li class="nav-item">
      <a [routerLink]="['login']"
         class="btn btn-sm btn-outline-secondary mr-3"
         role="button">Sign In</a>
    </li>

    <li class="nav-item">
      <a [routerLink]="['register']"
         class="btn btn-sm btn-primary"
         role="button">Sign Up</a>
    </li>

  </ul>
<!--sign out button after login-->
  <ul class="navbar-nav flex-row ml-md-auto d-none d-md-flex"
      *ngIf="isLoggedIn">

    <li class="nav-item">
      <a [routerLink]="['']"
         class="btn btn-sm btn-outline-secondary"
         (click)="logout()">Sign Out</a>
    </li>

  </ul>
</nav>
